$font-stack: 'AvenirNext-Regular', 'Avenir-Light', 'Avenir', 'HelveticaNeue-Light', Helvetica, Arial, sans-serif;
$font-light:  'Avenir-Light', 'HelveticaNeue-Light';
$font-heavier:  'Avenir-Heavy', 'HelveticaNeue';
$font-demibold: 'AvenirNext-DemiBold';
$font-read: 'Avenir-Book';
$font-pretty: 'Avenir-LightOblique';
$font-script: 'Palatino-Italic';

$font-base: 16px;
$font-head: 36px;
$font-h2: 20px;
$font-bigger: 18px;
$font-huge: 48px;
$font-small: 14px;
$font-tiny: 12px;

$icon-huge: 30px;
$icon-big: 24px;
$icon-medium: 20px;
$icon-small: 18px;
$icon-tiny: 14px;

$indigo: #283593;
$indigo-medium: #5C6BC0;
$indigo-lightest: #9FA8DA;
$indigo-dark: #1A237E;

$lavendar: #EEEEEE;

$indigo-muted: #536dfe;
$indigo-light: #B39DDB;
$purple: #673AB7;

$hot-pink: #DF367C;
$hot-orange: #ff5b37;

$dark-pink: #AC7B84;

$red: #F44336;

$gray-light: #F5F5F5;
$gray-medium: #AAAAAA;
$gray: #666666;
$gray-dark: #333333;
$gray-darker: #222222;
$gray-brown: #3D3022;


$main-text: rgba(0,0,0,.87);
$secondary-text: rgba(0,0,0,.54);
$disabled-text: rgba(0,0,0,.26);

